.jumbotron-abstract {
    background-color: #222;
    color: #fff;
    padding: 100px 20px;
  }
  
  .abstract-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .abstract-subheading {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  